/* Variables */

:root {
  --black: #000000;
  --white: #ffffff;

  --blue: #81b3d2;
  --medium-blue: #669ec0;
  --dark-blue: #5496bd;

  --brown: #766357;
  --dark-brown: #604e43;
  --darkest-brown: #503e33;

  --gray: #f2f2f2;
  --light-gray: #e5e5e5;
  --easy-gray: #eeeeee;
  --medium-gray: #a9a9a9;
  --dark-gray: #666666;
  --logo-gray: #bdbbbc;
  --hover-gray: #ebebeb;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.page-body {
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  display: grid;
  background-color: var(--gray);
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
}

h1 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.main-header,
.page-main,
.footer {
  background-color: var(--white);
}

.features {
  position: relative;
}

.features::before {
  background-image: url("/img/1.welcome.svg"), url("/img/2.tothegorgeous.svg"),
    url("/img/3.sedona.svg");
  background-repeat: no-repeat;
  background-position: top center, center 55px, center 138px;
  z-index: 2;
  position: absolute;
  content: "";
  top: 75px;
  left: 350px;
  width: 500px;
  height: 400px;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: var(--blue);
  list-style: none;
  margin: 0 auto;
  padding: 15px 0 17px;

  align-items: center;
  flex-wrap: wrap;
}

.site-item {
  width: 25%;
  display: block;
}
.site-item:first-child {
  padding-left: 73px;
}
.site-item:last-child {
  padding-right: 73px;
}
.site-item:nth-child(-n + 2) {
  text-align: left;
}
.site-item:nth-last-child(-n + 2) {
  text-align: right;
}

.main-nav {
  position: relative;
}

.main-welcome {
  position: relative;
}

.page-main::before {
  position: absolute;
  content: url("/img/Shape.svg");
  z-index: 1;
  top: 509px;
}

.main-header-logo {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.site-nav a {
  color: var(--black);
}

.site-nav a:hover {
  color: var(--blue);
}

.site-nav a:active {
  opacity: 0.3;
}

.main-welcome {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--blue);
  width: 1200px;
  height: 509px;
  display: block;
  margin-bottom: 41.5px;
}

.features h2 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 46px;
  padding: 0 200px;
}

.features p {
  text-align: center;
  margin-bottom: 52px;
  padding: 0 200px;
}

.features-item div,
.features-sub-item {
  padding: 0;
  text-align: center;
  width: 400px;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.features-list,
.features-sub-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
  padding: 0;
  margin: 0 auto 25px;
}

.features-item p {
  padding: 0;
  margin: 0 0 23px;
}

.feature-one,
.feature-two {
  background-color: var(--blue);
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.feature-two .feature_container {
  order: 1;
}

.feature-two .feature_img {
  order: 0;
}

.feature-one div {
  padding: 45px 0 28px;
}

.feature-one h3 {
  width: 150px;
  margin-bottom: 26px;
}

.feature-one p,
.features-item,
.feature-two p {
  font-size: 14px;
  line-height: 21px;
}

.feature-two div {
  padding: 49px 0 0;
}

.features-item img {
  background-color: var(--blue);
}

.features-sub-container {
  grid-column: 1/4;
  grid-row: 2;
  padding: 45px 0 0;
}

.features-sub-item h3 {
  padding-top: 114px;
  display: block;
}
.features-sub-item p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 82px;
}

.features-sub-list {
  display: flex;
  justify-content: space-between;
}

.features-sub-item {
  width: 400px;
}

.features-sub-item:first-child {
  position: relative;
}

.features-sub-item:first-child::before {
  position: absolute;
  content: url("/img/home.svg");
  top: 15px;
  left: 162px;
}

.features-sub-item:nth-child(2) {
  position: relative;
}
.features-sub-item:nth-child(2)::before {
  position: absolute;
  content: url("/img/burger.svg");
  top: 15px;
  left: 162px;
}

.features-sub-item:nth-child(3) {
  position: relative;
}

.features-sub-item:nth-child(3)::before {
  position: absolute;
  content: url("/img/present.svg");
  top: 10px;
  left: 168px;
}

.features-bg {
  background-color: var(--easy-gray);
  padding-top: 47px;
  padding-bottom: 34px;
}

.button {
  text-align: center;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

/* ------------------------------------------------------------------ */

/* название секции */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding-top: 55px;
}

.search h3 {
  font-size: 30px;
  padding: 0;
  margin: 0 0 34px;
}

.search > p {
  text-align: center;
  padding: 0;
  margin: 0 0 44px;
  font-size: 14px;
  line-height: 24px;
}

.popup-btn {
  background-color: #766357;
  font-size: 21px;
  width: 568px;
  padding: 30px 0 32px;
  position: relative;
}

.popup-btn:hover {
  background-color: var(--dark-brown);
}

.map {
  position: relative;
}

.iframe {
  position: absolute;
  top: 0;
}

.popup-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--darkest-brown);
}

.modal {
  display: none;
  position: absolute;
  z-index: 2;
  top: 2170px;
  left: 732px;
}

.form-index {
  background-color: var(--white);
  padding: 55px;
  width: 568px;
  margin: 0 auto;
}

.form-index {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  display: grid;
  border: none;
  margin: 0 auto;
  padding: 55px 55px 55px;
  grid-template-columns: 1fr 1fr;
  width: 568px;
}

.form-item {
  grid-column: 1 / -1;
  margin: 0 0 31px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.form-item label,
.form-item input,
.form-adult,
.form-child {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

.calendar {
  position: absolute;
  right: 9px;
  top: 8px;
}

.calendar:hover path {
  fill: var(--black);
}

.calendar:active path {
  fill: var(--blue);
}

.form-item input {
  padding: 9px 12px 9px;
  width: 345px;
  background-color: var(--gray);
  outline: 2px solid var(--gray);
}

.form-item input:hover {
  outline: 2px solid var(--hover-gray);
  background-color: var(--hover-gray);
}

.form-item input:focus {
  outline: 2px solid #e5e5e5;
  background-color: var(--white);
}

.form-container {
  grid-column: 1/-1;
  display: flex;
  margin: 0 0 54px;
  justify-content: space-between;
}

.form-adult,
.form-child {
  display: flex;

  justify-content: space-between;
  width: 226px;
  align-items: center;
}

.form-child {
  width: 179px;
}

.counter-container {
  width: 114px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.form-adult input,
.form-child input {
  width: 40px;
  border: none;
  text-align: center;
  background-color: var(--gray);
  font-weight: 700;
  padding: 10px 0;
  outline: none;
}

.search-btn {
  width: 100%;
  grid-column: 1/-1;
  background-color: var(--blue);
  padding: 16px 0;
  font-size: 21px;
  line-height: 26px;
}

.svg-button {
  background-color: var(--gray);
  display: flex;
  width: 38px;
  border: none;
  justify-content: center;
  align-items: center;
}

.svg-button:hover .svg-ad-plus path,
.svg-button:hover .svg-ad-minus rect,
.svg-button:hover .svg-ch-minus rect,
.svg-button:hover .svg-ch-plus path {
  fill: var(--black);
}

.svg-button:active .svg-ad-plus path,
.svg-button:active .svg-ad-minus rect,
.svg-button:active .svg-ch-plus path,
.svg-button:active .svg-ch-minus rect {
  fill: var(--blue);
}

/* ------------------------------------- catalog.html ------------------------------------- */

.filter-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-item-chk + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 2px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--white);
  border-radius: 3px;
}

.filter-item-chk:checked + label::before {
  display: none;
}

.filter-item-chk:checked + label::after {
  content: url("/img/checkbox-on.svg");
  position: absolute;
  left: -40px;
  top: 2px;
  width: 20px;
  height: 20px;
}

.filter-item {
  color: var(--white);
  margin: 0 0 0;
  padding: 10px 0 12px 40px;
}

.page-catalog {
  background-color: var(--white);
}

.search-types {
  background: url("/img/bg-catalog.jpg") no-repeat;
  background-color: var(--blue);
  margin: 0 0;
  padding: 0;
}

.form-search-catalog {
  display: flex;
  padding: 23px 72px 0;
  margin: 0;
}

.filter-fieldset {
  border: 0;
  margin: 0 118px 19px 0;
  padding: 0;
}

.filter-min {
  margin-right: 70px;
}
.filter-fieldset:last-child {
  margin: 0 0 0 auto;
}

.filter-header {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  border: 0;
  margin-bottom: 13px;
}

.filter-fieldset:last-child .filter-header {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  border: 0;
  margin-bottom: 11px;
}

.filter-container {
  border: 2px solid var(--white);
  display: block;
  padding: 4px 0 4px 65px;
  border-radius: 2px;
  width: 318px;
  margin-bottom: 20px;
  position: relative;
}

.filter-container::after {
  content: url("/img/Rectangle.svg");
  position: absolute;
  left: 157px;
  top: 5px;
}

.filter-container label {
  color: var(--white);
}

.filter-container input {
  width: 50px;
  background: none;
  border: none;
  color: var(--white);
  outline: none;
  position: relative;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  height: 2px;
  background: #ababab;
  opacity: 1;
}

.range-controls .bar {
  height: 2px;
  background: var(--white);
  width: 80%;
  opacity: 1;
}

.range-controls .toggle {
  width: 19px;
  height: 19px;
  padding: 0;
  border: 7px solid var(--white);
  background-color: #ababab;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  box-shadow: 0px 2px 0px 0px rgba(171, 171, 171, 0.3);
}

.toggle:hover {
  transform: scale(1.1);
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 252px;
}

.filter-btn {
  background: none;
  border: 2px solid var(--white);
  border-radius: 2px;
  color: var(--white);
  font-weight: 400;
  padding: 8px 34px 8px 33px;
  margin: 0 0 30px 84px;
  display: block;
}

.filter-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.search-result {
  padding: 9px 73px 0;
}

.result-sort h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 23px;
  margin-right: 16px;
  width: 190px;
}

.result-sort {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.result-sort p {
  font-size: 12px;
  margin-right: 40px;
}

.sort-type-list {
  font-size: 12px;
  line-height: 18px;
  margin-right: auto;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.type-item {
  font-size: 12px;
  margin-right: 33px;

  opacity: 0.3;
  cursor: pointer;
  border-bottom: 1px dotted;
}

.type-item:hover {
  opacity: 1;
  color: var(--blue);
  text-decoration-style: dotted;
}

.type-current {
  color: var(--blue);
  opacity: 1;
  border-bottom: none;
}

.type-item:active {
  opacity: 1;
  color: var(--black);
  border-bottom: none;
}

.sort {
  margin: 5px 11px 0;
  padding: 0;
  border-bottom: none;
  opacity: 1;
}

.svg-sort:hover {
  fill: var(--black);
  opacity: 1;
}

.svg-sort:active {
  fill: var(--blue);
  opacity: 1;
}

.sort svg:first-child {
  margin-right: -15px;
}
.sort-up,
.sort-down {
  fill: black;
  opacity: 0.3;
}

.sort-current {
  fill: var(--blue);
  opacity: 1;
}

/* ----------------------------hotel------------------------------------- */
.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel {
  display: flex;
  padding: 33px 0 27px;
  position: relative;
  align-items: flex-start;
}

.hotel img {
  margin-right: 28px;
}

.hotel-info {
  display: flex;
  flex-direction: column;
}

.hotel-info h3 {
  font-size: 21px;
  line-height: 10px;
  margin: 0 0;
  padding: 0;
  margin-bottom: 15px;
}

.hotel-info dl {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 110px 142px;
  column-gap: 6px;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.hotel-info dt {
  width: 110px;
  margin-left: 0;
  padding: 0;
}

.hotel-info dd {
  margin: 0;
  padding: 0;
}

.hotel-rating {
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.hotel-rating p {
  display: block;
  margin: auto 0 0;
  padding: 2px 13px;
  background-color: var(--gray);
  color: #666666;
}

.btn-container {
  display: flex;
  margin: 0;
}

.more-info-btn {
  background-color: var(--blue);
  margin-right: 6px;
  width: 110px;
  display: block;
  padding: 2px 0 2px;
}

.book-btn {
  background-color: var(--brown);
  padding: 2px 0 2px;
  width: 142px;
  display: block;
}

.details {
  color: var(--black);
}

.details:hover {
  color: var(--blue);
}

.details:active {
  color: rgba(0, 0, 0, 0.3);
}

.stars-4 {
  position: relative;
}

.stars-4::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: url("/img/star.svg");
  width: 88px; height:17px;
  background-repeat: space no-repeat;
}

.stars-3 {
  position: relative;
}

.stars-3::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: url("/img/star.svg");
  width: 64px;height:17px;
  background-repeat: space no-repeat;
}

.stars-2 {
  position: relative;
}

.stars-2::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: url("/img/star.svg");
  width: 40px;height:17px;
  background-repeat: space no-repeat;
}

.more-info-btn:hover {
  background-color: var(--medium-blue);
}

.more-info-btn:active,
.book-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.book-btn:hover {
  background-color: var(--dark-brown);
}

.hotel-info:before {
  border-top: 1px solid var(--light-gray);
  content: "";
  position: absolute;
  top: 2px;
  left: -73px;
  width: 1200px;
}

.hotel:last-child {
  margin-bottom: 9px;
}

.hotel:last-child:after {
  border-top: 1px solid var(--light-gray);
  content: "";
  position: absolute;
  bottom: -3px;
  width: 1200px;
  left: -73px;
}

/* ----------------------------- hotel-end --------------------------- */

.site-nav .current-page {
  color: var(--brown);
}

/* ------------------------------------- footer ------------------------------------- */

.map {
  margin-bottom: -127px;
}
.footer {
  display: grid;
  z-index: 1;
  opacity: 0.9;
  grid-template-columns: 1fr 1fr 1fr;

  padding-top: 20px;
}

.index-footer {
  padding-top: 23px;
  padding-bottom: 10px;
}

.footer-contacts {
  font-weight: 700;
  grid-column: 1/2;
  font-size: 21px;
  margin: 0;
  padding: 0 0 38px 73px;
  text-align: center;
}

.footer-contacts > p {
  margin: 0;
  padding: 0 0 10px;
}

.footer-developer div {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  padding: 20px 0 0 65px;
  margin: 0;
}

.footer-developer p {
  margin: 0 15px 0 0;
  padding: 0;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer-developer img {
  display: block;
}

.footer-social-list {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0 auto;
  padding: 36px 0 0;
  padding: 12px 0 0;
  width: 150px;
}

.social-item {
  background-color: var(--blue);
  width: 46px;
  height: 48px;
  justify-content: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  font-weight: 700;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-item:hover {
  background-color: var(--medium-blue);
}

.social-svg:active {
  opacity: 0.3;
}

.social-item:active {
  background-color: var(--dark-blue);
}

.logo-svg path {
  fill: black;
}
.logo-svg:hover path {
  fill: var(--blue);
}
.logo-svg:active path {
  fill: var(--logo-gray);
}
.sort-type-list {
  display: flex;
  justify-content: flex-end;

  width: 95%;
}

.type-item:nth-last-child(2) {
  margin-left: auto;
}
